body, html{
	padding:0px;
	margin:0px;
}

body{
	width:100%;
}

section {
	width:100%;
	padding:20px;
}

h1,h2,h3,h4,h5,p {
	font-family: 'Lora', serif;
}

h2{
	text-align:center;
	margin:0px;
	padding:10px;
}
/***************************************************************HEADER*/
header{
	background-color:black;
	padding:10px;
	display:flex;
	justify-content:space-between;
	align-items: center;
}
header form {
	text-align:right;
}
header form input{
	padding:10px;
	height:100%;
	padding:10px;
	border-radius:5px;
	border:none;
	margin:1px 5px;
}

header img{
	max-height:80px;
	max-width:40%;
}
header button{
	margin:2px;
	border-radius:5px;
	padding:10px 20px;
	background-color:lightgrey;
	color:black;
	border:none;
	
}
header button:hover{
	color:white;
	background-color:darkred;
}
/***************************************************************TITRE*/
h1{
	background-color:darkred;
	text-align:center;
	padding:20px;
	margin:0px;
	color:white;
}
#divJquery{
	background-color:darkred;
	text-align:center;
	padding:5px;
	margin:0px;
	color:white;
}
/***************************************************************FILTRES*/


#placement_form{
	display :flex;
	justify-content: space-around;
	flex-wrap:wrap;
}
#filtres form{
	margin:5px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}


#filtres input{
	padding:10px;
	border-radius:5px;
	border:2px solid darkred;
	margin:2px 5px;
}
#filtres form select{
	border:2px solid darkred;
	margin:2px 5px;
	width:150px;
}
#filtres button{
	margin:2px 5px;
}
/***************************************************************GRILLE VINS*/
section#grilleVins{
	background-color:darkred;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
#grilleVins span{
	min-width:200px;
	position:relative;
	right:50px;
	background-color:white;
	margin: 12px;
	width:auto;
	height:auto;
	padding:2px;
	text-align:center;
	border: 2px solid transparent;
	border-radius:3px;
	flex : 0 0 20%; /*flex Grow/Flex Shrink/ Flex Basis*/
}
#grilleVins span:hover{
	border: 2px solid black;
}
#grilleVins span img {
	max-height:90px;
	max-width:100%;
	width:auto;
	height:auto;
}
/***************************************************************CENTRE*/
section#centre{
	display:flex;
	justify-content:space-around;
	position:relative;
	right:250px;
	flex-wrap:wrap;
	
}
#centre > div {
	min-width:250px;
	flex-grow:1;
}
#commentaires{
	display:flex;
	flex-direction:column;
}
#commentaires div{
	overflow-y:auto;
	max-height:400px;
	margin-bottom:10px;
}

#carouselExampleControls{
	margin-top:10px;
	
}


/***************************************************************CONNECTED*/
section#connected{
	justify-content: flex-end
	background-color:white;
	color:white;
}

#divNotes {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	background-color:white;
	border: 1px solid lightgrey;
	color: black;
	border-radius: 2px;	
	padding: 10px;
	width: 100%;
}

#divNotes .btn-primary {
	margin: 5px;
}

/***************************************************************FOOTER*/
footer{
	padding:20px;
	background-color:#1e1e1e;
	text-align:right;
}